@import "tailwindcss";

@media all and (display-mode: standalone) {
  html {
    font-size: 17px;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
